---
layout: default
title: Projects
permalink: /project/
---
under construction

<div class="home-tile-wrapper">
    {% include tile.html 
    include-link="true"
    link="https://mrbreakfastsdelight.itch.io/mr-breakfasts-free-prompts"
    class="home grow"
    heading="Mr. Breakfast's Free Prompts" 
    description="A prompt pack released into the public domain →" 
    img="/assets/media/mbfp-preview.png"
    glow-color="#f2424a80"
    %}
    
    {% include tile.html 
    include-link="true"
    link="https://engimo-game.dev"
    class="home grow"
    heading="Engimo" 
    description="A noita-like tower defense game →" 
    img="/assets/media/029.png"
    glow-color="#eb720c80" 
    %}
    
    {% include tile.html 
    include-link="true"
    link="/gallery"
    class="home grow"
    heading="Bending Brawler" 
    description="A falling sand brawler game" 
    img="/assets/media/020.png"
    glow-color="#c4e9ed80"
    %}
    
    {% include tile.html 
    include-link="true"
    link="/gallery"
    class="home grow"
    heading="Majimo Build!" 
    description="A tower defense, algo-spell system game" 
    img="/assets/media/020.png"
    glow-color="#c4e9ed80"
    %}

    {% include tile.html 
    include-link="true"
    link="/portfolio/teaching"
    class="home grow"
    heading="Teaching Portfolio" 
    description="A portfolio built for an internship class" 
    img="/assets/media/mon-senate.gif"
    glow-color="#a4b59080"
    %}



</div>
