
  {% include tile.html 
  heading="Follow Me Across the Web" 
  bg-img="/assets/media/030.jpg"
  description="
  <a href='mailto:sorry@no_personal_email_on_public_web_ATM.maybe_on_day' target='_blank' id='email-link'>Email →</a><br>
  <a href='https://mastodon.social/@mr_breakfast' target='_blank' id='mastodon-link'>Mastodon →</a><br>
  <a href='https://github.com/mr-breakfast' target='_blank' id='github-link'>Github →</a><br>
  <a href='https://mrbreakfastsdelight.itch.io/' target='_blank' id='itch-link'>Itch.io →</a><br>
  <a href='/feed.xml' target='_blank' id='rss-link'>Subscribe to RSS →</a><br>"
  %}
