<!-- Parameters:
include-link: boolean, default | false, wraps tile in link where `href=tile-media`
link: url, overrides href
target-blank: boolean
class: string
id: string
glow-color: color
img: url 
audio:url
video: url
bg-img: url, default: img
include-bg: boolean, default: true
heading: string
pills: string, array: "x", "y", …, used for tags, links to /tag/`pills`
description: string

If no heading or description, remove tile-wrapper
-->
<!-- Classes available to tile.scss:
tile tile-media tile-wrapper tile-bg-blur tile-content pill-wrapper pill-element
-->

<!-- If include-link, wrap tile in <a> -->
{% if include.include-link or include.link %}
  <a href="
     {% if include.link %}
       {{ include.link }}
     {% else %}
       {{ include.img }} {{ include.video }} {{ include.audio }}
     {% endif %}
     "
     {% if include.target-blank %} target='_blank'> {% endif %} {%endif%}

    <!-- Defines class, id, or glow-color behavior -->
    <div 
      class="tile {{ include.class }}" 
      id="{{ include.id }}" 
      style="{% if include.glow-color %} box-shadow: {{ include.glow-color }} -16px 16px 32px -24px;{% endif %}">
      
      <!-- If img, audio, or video, create element.tile-media -->
      {% if include.img %}
        <img class="tile-media" src="{{ include.img }}" loading="lazy"></img> {% endif %}
      
      {% if include.audio %}
       <img class="tile-media" src="{{ include.audio }}" loading="lazy"></img> {% endif %}
      
      {% if include.video %}
        <video class="tile-media" src="{{ include.video }}" autoplay="" loop="" loading="lazy"></video> {% endif %}
      
      <!-- If heading or description, create element.tile-wrapper - If bg-img and no (heading and description), then no bg-img -->
      {% if include.heading or include.description %}
        <div class="tile-wrapper">
        
          <!-- If include-bg is false, remove element.bg-img -->
          {% unless include.include-bg | default: true %}
          
            <!-- If bg-img, src="bg-img" otherwise src="img" -->
            <img 
              class="tile-bg-blur" 
              src="
              {% if include.bg-img %}
                {{ include.bg-img }}
              {% else %}
                {{ include.img }} {% endif %}">
            </img> {% endunless %}
              
          <!-- If no img, set tile-content padding to 32px-->
          <section class="tile-content" {% unless include.img %} style="padding: 32px;" {% endunless %}>
            <h2> {{ include.heading }} </h2>
            <!-- If span, loop span list -->
            {% if include.pills %}
              {% assign pill_array = include.pills | split: ", " | sort %}
              <div class="pill-wrapper">
                {% for item in pill_array %}
                    {% include pill.html content=item id=item tag-link=item %}
                {% endfor %}
              </div>
            {% endif %}
            <p> {{ include.description }} </p>
          </section>
          
        </div> {% endif %}
        
    </div>  

<!-- Complete <a> wrap -->
{% if include.include-link %}
  </a> {%endif%}
