:root {
  --fg: white;
  --fg-2: rgb(from var(--fg) r g b / 70%);
  
  --bg: #110f0f;
  --bg-2: rgb(from var(--fg) r g b/6%);
  --bg-3: rgb(from var(--fg) r g b/9%);
  
  --accent-green: #8ce68c;
  --accent-pink: #ff56aa;
  
  --outline-color: rgba(255, 255, 255, 0.1);

  --header-color-1: rgba(255, 86, 170, 0.5);
  --heading-color: white;

  --border-radius: 16px;
  
  --scale: scale(1.05);
  --duration: 0.4s;
  
  /** Font variables */
  --small: .75em;
  --regular: "Inter Regular", sans-serif;
  --medium: "Inter Medium", sans-serif;
  --bold: "Inter Bold", sans-serif;
  --extrabold: "Inter ExtraBold", sans-serif;
}

/** Custom styling */
.image-right {
  margin: 0 0 0 1.5em;
  float: right;
  width: 50%;
}

.pixel-perfect {
  image-rendering: crisp-edges; /*no blur*/
}

.vertical-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 32px;
}

.vertical-center.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 16px;
}

strong {
  font-family: var(--bold);
  color: var(--accent-pink);
}

/** Animation */
.button {
 transition: var(--duration);
}

.button:hover {
  transform: var(--scale);
  text-decoration: none;
}

.grow {
 transition: var(--duration);
}
.grow:hover {
  transform: var(--scale);
  text-decoration: none;
}

/** Reset some basic elements */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure,
br {
  padding: 0;
}

/** Basic styling */
body {
  display: grid;
  grid-template-columns: auto 800px auto;

  font-family: var(--regular);
  line-height: 1.5em;
  color: rgb(from var(--fg) r g b/85%);
  
  background: var(--bg);
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  min-height: 100vh;

  overflow-wrap: break-word;
}

/** Set `margin-bottom` to maintain vertical rhythm */
h1, h2, h3, h4, h5, h6, p, blockquote, pre, ul, ol, dl, figure, .highlight { 
  margin-bottom: 1.25em; 
}

/** Body Parents */
main {
  display: block;
  grid-column: 2;
  margin-top: 32px;
}

header {
  grid-column: 2;
}
footer {
  grid-column: 2;
  margin: 64px 0 32px 0;
}

footer h3 {
  margin-bottom: .5em;
}


/** Button styling */
.button {
  border: 1px solid var(--outline-color);
  background-color: var(--bg-2);
  padding: 1.1em 0;
  border-radius: var(--border-radius);
  display: inline-block;
  font-family: var(--bold);
  text-align: center;
  color: var(--fg);
}

.contact.button {
  width: 100%;
  max-width: 25em;
  padding: 1.1em 0;
  margin: 0 auto;
  border: unset;
}

.contact.button > img {
  height: 1.2em;
  display: inline;
  vertical-align: text-top;
  margin-right: .75em;
}

.home.button {
  padding: 1.1em 0;
  border-radius: var(--border-radius);
}

.button.suggested {
  background-color: var(--fg);
  color: var(--bg)
}

/* Button stylings */
#aboutme-button {}
#contactme-button {}
#email-link {
  background-color: #f27600;
}
#mastodon-link {
  background-color: #6364ff;
}
#github-link {
  background-color: #424a52;
}
#itch-link {
  background-color: #ff2449;
}
#matrix-link {
  background-color: black;
}
#rss-link {
  background-color: #e27c1d;
}

/** Images */
img {
  max-width: 100%;
  vertical-align: middle;
}

/** Figures */
figure > img {
  display: block;
}

figcaption {
  font-size: var(--small);
  color: rgba(255, 255, 255, 0.8);
}

/** Lists */
ul,
ol {
  margin-left: 1.5em;
}

li > ul,
li > ol {
  margin-bottom: 0;
}

/** Headings */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--bold);
  color: var(--heading-color);
  margin-top: 1.75em;
  margin-bottom: 1em;
}

h1 {
  font-family: var(--extrabold);
}

.page-title {
  margin-top: 1em;
}

/** Links */
a {
  color: var(--accent-green);
  text-decoration: none;
  transition: var(--duration);
}

a:hover {
  text-decoration: none;
  color: var(--fg);
}

/** Blockquotes */
blockquote {
  border-left: 1px solid var(--outline-color);
  padding-left: 15px;
  font-style: italic;
  margin-left: 1em;
}
blockquote > :last-child {
  margin-bottom: 0;
}
blockquote i,
blockquote em {
  font-style: normal;
}

/* Code block */
pre,
code {
  font-family: "Menlo", "Inconsolata", "Consolas", "Roboto Mono", "Ubuntu Mono",
    "Liberation Mono", "Courier New", monospace;
  font-size: 0.9375em;
  color: var(--text-color);
  border: 1px solid var(--divide-color);
  border-radius: var(--border-radius);
  background-color: var(--bg-2);
  text-wrap: wrap;

  padding: 16px;
}

/** Tables */
table {
  margin-bottom: 30px;
  width: 100%;
  text-align: left;
  color: #3f3f3f;
  border-collapse: collapse;
  border: 1px solid #e8e8e8;
}
table tr:nth-child(even) {
  background-color: #f7f7f7;
}
table th,
table td {
  padding: 10px 15px;
}
table th {
  background-color: #f0f0f0;
  border: 1px solid #e0e0e0;
}
table td {
  border: 1px solid #e8e8e8;
}
@media screen and (max-width: 800px) {
  table {
    display: block;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
}

/**Home Tile Positioning and Link styling */
.home-tile-wrapper {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 32px;
  grid-row-gap: 32px;
}

.home.tile {
 height: 100%;

}

.home.tile:hover {

}

.home.tile > img{
 height: 60%;
}

.home-tile-wrapper > a > .tile {
  margin-top: 0px;
}



/** Site header */
.site-header {
  position: relative;
  margin: 32px 0 0 0;
  overflow: hidden;
  box-shadow: var(--header-color-1) -16px 16px 32px -24px;

  border: 1px solid var(--outline-color);
  background-color: var(--bg-2);
  border-radius: var(--border-radius);
}

.header-banner {
  z-index: 0;
  position: absolute;
  -webkit-filter: blur(32px) saturate(3) opacity(0.5);
  filter: blur(32px) saturate(3) opacity(0.5);
  pointer-events: none;
  opacity: 1;
  aspect-ratio: 6 / 1;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
  box-sizing: border-box;
}

.header-wrapper {
  display: grid;
  grid-column-gap: 32px;
  grid-row-gap: 16px;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr;

  padding: 32px;
}

.site-icon {
  grid-column: 1;
  grid-row: 1 / span 2;
  filter: drop-shadow(-8px 0 8px var(--header-color-1))
    drop-shadow(8px 0 8px var(--header-color-1));
}

.site-title {
  grid-column: 2;
  grid-row: 1;
  text-decoration: none;

  justify-self: start;
  align-self: end;

  font-family: var(--extrabold);
  font-size: 2.5em;
  color: var(--fg);
  white-space: nowrap;
}

.link-container {
  grid-column: 2;
  grid-row: 2;
  display: flex;
  flex-wrap: wrap;
}

a.page-link {
  margin: 0 0.5em 0 0;
  font-family: var(--medium);
  color: var(--fg-2);
  transition: var(--duration);
}

a.page-link:hover {
  color: var(--fg);
}


/** Site footer */
.site-footer {
  border-top: 0px solid #e8e8e8;
  padding: 30px 0;
}

/** Codblock highlighting **/
.highlight .c {
  color: #998;
  font-style: italic;
}
.highlight .err {
  color: #a61717;
  background-color: #e3d2d2;
}
.highlight .k {
  font-weight: bold;
}
.highlight .o {
  font-weight: bold;
}
.highlight .cm {
  color: #998;
  font-style: italic;
}
.highlight .cp {
  color: #999;
  font-weight: bold;
}
.highlight .c1 {
  color: #998;
  font-style: italic;
}
.highlight .cs {
  color: #999;
  font-weight: bold;
  font-style: italic;
}
.highlight .gd {
  color: #000;
  background-color: #fdd;
}
.highlight .gd .x {
  color: #000;
  background-color: #faa;
}
.highlight .ge {
  font-style: italic;
}
.highlight .gr {
  color: #a00;
}
.highlight .gh {
  color: #999;
}
.highlight .gi {
  color: #000;
  background-color: #dfd;
}
.highlight .gi .x {
  color: #000;
  background-color: #afa;
}
.highlight .go {
  color: #888;
}
.highlight .gp {
  color: #555;
}
.highlight .gs {
  font-weight: bold;
}
.highlight .gu {
  color: #aaa;
}
.highlight .gt {
  color: #a00;
}
.highlight .kc {
  font-weight: bold;
}
.highlight .kd {
  font-weight: bold;
}
.highlight .kp {
  font-weight: bold;
}
.highlight .kr {
  font-weight: bold;
}
.highlight .kt {
  color: #458;
  font-weight: bold;
}
.highlight .m {
  color: #099;
}
.highlight .s {
  color: #e99f0b;
}
.highlight .na {
  color: var(--strong-color);
}
.highlight .nb {
  color: #0086b3;
}
.highlight .nc {
  color: #458;
  font-weight: bold;
}
.highlight .no {
  color: #008080;
}
.highlight .ni {
  color: #800080;
}
.highlight .ne {
  color: #900;
  font-weight: bold;
}
.highlight .nf {
  color: #900;
  font-weight: bold;
}
.highlight .nn {
  color: #555;
}
.highlight .nt {
  color: var(--accent-color);
}
.highlight .nv {
  color: var(--strong-color);
}
.highlight .ow {
  font-weight: bold;
}
.highlight .w {
  color: #bbb;
}
.highlight .mf {
  color: #099;
}
.highlight .mh {
  color: #099;
}
.highlight .mi {
  color: #099;
}
.highlight .mo {
  color: #099;
}
.highlight .sb {
  color: #d14;
}
.highlight .sc {
  color: #d14;
}
.highlight .sd {
  color: #d14;
}
.highlight .s2 {
  color: #d14;
}
.highlight .se {
  color: #d14;
}
.highlight .sh {
  color: #d14;
}
.highlight .si {
  color: #d14;
}
.highlight .sx {
  color: #e99f0b;
}
.highlight .sr {
  color: #009926;
}
.highlight .s1 {
  color: #d14;
}
.highlight .ss {
  color: #990073;
}
.highlight .bp {
  color: #999;
}
.highlight .vc {
  color: #008080;
}
.highlight .vg {
  color: #008080;
}
.highlight .vi {
  color: #008080;
}
.highlight .il {
  color: #099;
}

/*Adaptiveness*/
@media (max-width: 850px) {
  body {
    display: block;
    padding: 0 16px;
  }
  .image-right {
    padding: 0 0 0 0;
    float: none;
    width: 100%;
  }
}
@media (max-width: 550px) {
  .home-tile-wrapper {
    display: flex;
    flex-direction: column;
  }
  .header-wrapper {
    display: flex;
    flex-direction: column;
  }
  .site-title {
    align-self: start;
    font-size: 32px;
  }
  .site-icon > img {
    max-height: 114px;
    margin-bottom: 16px;
  }
}
