.pill {
  background-color: var(--bg-3);
  border-radius: 500px;
  padding: 6px 12px;
  margin: 16px 8px 16px 0;
  
  font-size: var(--small);
  font-family: var(--bold);
  color: var(--fg);
}

.pill-link {}

/* Premade pills */
#Majimo\ Build\! {
  background-color: #e8b1f9;
  color: var(--bg);
}
