.tile {
   overflow: hidden;
   height: 100%;
   margin-top: 32px;
   color: white;
   font:
        400 14px/1.5 "Inter",
        sans-serif;
}

.tile-wrapper {
   position: relative;
}

.tile-image {
   height: 60%;
   width: 100%;
   object-fit: cover;
   object-position: top;
}

.tile-bg-blur {
  position: absolute;
  width: 100%;
  aspect-ratio: 6 / 1;
  filter: blur(32px) saturate(3) opacity(.45);
  pointer-events: none;
  object-fit: cover;
}

.tile-content {
   padding: 16px;
}

.tile-content > h1 {
  color: white;
}
