.tile {
  overflow: hidden;
  margin-top: 32px;
  border: 1px solid var(--outline-color);
  background-color: var(--bg-2);
  border-radius: var(--border-radius);
}

.tile-wrapper {
  position: relative;
}

.tile-media {
  width: 100%;
  object-fit: cover;
  object-position: top;
}

.tile-bg-blur {
  position: absolute;
  width: 100%;
  aspect-ratio: 6 / 1;
  filter: blur(32px) saturate(3) opacity(0.45);
  pointer-events: none;
  object-fit: cover;
}

.tile-content {
  padding: 16px;
}

.tile-content > h2, 
.tile-content > p {
  color: white;
  
  margin-top: 0;
  margin-bottom: .25em;
}

.tile-content > h2 {
  font-family: var(--extrabold);
}

.pill-wrapper {
  margin: 8px 0;
}
