---
layout: default
post_excerpt: false
---

<div class="home-tile-wrapper">
    {% include tile.html 
    include-link="true"
    link="/project"
    class="home grow"
    heading="Projects" 
    description="Find a list of all my projects" 
    img="/assets/media/mbfp-preview.png"
    glow-color="#f2424a80"
    %}

    {% include tile.html 
    include-link="true"
    link="/gallery"
    class="home grow"
    heading="Gallery" 
    description="Look at my artwork all in one place" 
    img="/assets/media/020.png"
    glow-color="#c4e9ed80"
    %}

    {% include tile.html 
    include-link="true"
    link="/blog"
    class="home grow"
    heading="Blog" 
    description="Read my <em>Vanilla Abstract</em> next to the sugar and spice" 
    img="/assets/media/mon-senate.gif"
    glow-color="#a4b59080"
    %}

    {% include tile.html 
    include-link="true"
    link="/index"
    class="home grow"
    heading="Index" 
    description="Explore everything on the site in my curated site index" 
    img="/assets/media/029.png"
    glow-color="#eb720c80" 
    %}

</div>
  

<div class="vertical-center" style="margin-top: 32px;">

  <a href='/about/' class="button home" id='aboutme-button'>
  About Me →
  </a>

  <a href='/contact/' class="button home" id='contactme-button'>
  Contact Me →
  </a>
</div>
